
$background-color: #fae16c;
$light-background: #fdeea6;
$textColor: #4A4A4A;
$emphasis: #FF6A7C;

$font_size_base: 1rem;
$font_size_L: $font_size_base*2.25;
$font_size_XL: $font_size_base*3;

$spacing_base: 1rem;
$spacing_L: $spacing_base*2;
