
@font-face { font-family: 'Roboto';
    font-weight: normal;
    src: url("../../assets/Roboto/Roboto-Regular.ttf") format("truetype"); 
}

h2 {
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: var(--font_size_L);
    color: #131313;
}

p {
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: var(--font_size_base);
    color: #353535;
}

.header__nav {
    padding: var(--spacing-base);
}

.header__nav__link {
    list-style-type: none;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: var(--font_size_base);
    color: #131313;
}

h1 span {
    color: $background-color;
    font-size: var(--font_size_XL);
}

em {
    color: $emphasis;
}