:root {
    --background: #fae16c;
    --light_background: #fdeea6;
    --textColor: #4A4A4A;
    --emphasis: #FF6A7C;

    --font_size_base: 1rem;
    --font_size_L: calc(var(--font_size_base)*2.25);
    --font_size_XL: calc(var(--font_size_base)*3);

    --spacing_base: 1rem;
    --spacing_L: calc(var(--spacing_base)*2);

}